body, html{
    height: 100%;
    margin: 0%;
    font-size: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 400;
    line-height: 1.8em;
    color:#666;
}

.pimg1, .pimg2, .pimg3{
    position: relative;
    opacity: 0.70;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;    
}

.pimg1{
    background-image:url("img1.jpeg");
    min-height: 100%;
}

.pimg2{
    background-image:url("img2.jpeg");
    min-height: 40%;
}

.pimg3{
    background-image:url("img3.jpeg");
    min-height: 40%;
}

.section{
    text-align: center;
    padding: 50px 80px;
}

.section-light{
    background-color: #f4f4f4;
    color: black;
}

.section-dark{
    background-color:#282e34;
    color: #ddd;
}

.ptext{
    position: absolute;
    top: 50%;
    width: 100%;
    text-align: center;
    color: rgb(255, 254, 254);
    font-size: 27px;
    letter-spacing: 8px;
    text-transform: uppercase;

}

.ptext .border{
    background-color: black;
    padding: 20px;
}